body {
  background-color: aqua;
}

.quiz-card {
  width: 20rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding-top: 12px;
}

.quiz-answer-card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-success,
.bg-danger {
  color: white;
}

.trophy-img-container img{
  width: 100%;
}

.endScreenText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-restart{
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

@media (max-width: 576px) {
  .quiz-card {
      width: 100%;  
  }
}

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767px) {
  .quiz-card {
      width: 70%;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .quiz-card {
      width: 50%;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) {
  .quiz-card {
      width: 40%;
  }
}
