body {
  background-color: aqua;
}

.container {
  min-height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-footer {
  display: flex;
  justify-content: space-between;
 align-items: center;
 border-top: 1px solid rgba(0, 0, 0, 0.4);
 padding-top: 12px;
}

.quiz-card{
  width: 30rem;
}
